:root {
	--color1: #fc6391;
	--color2: #a363fc;
	--color3: #eeffdd;
}
body,
html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #343137;
}

button {
	background-color: #ffffff00;
	border: solid 1px var(--color2);
	color: white;
	padding: 0.9rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2rem;
	transition: 100ms;
	width: 90%;
}

button:hover {
	box-shadow: 0px 5px 20px var(--color1);
	transform: scale(1.05);
}

.--active {
	transform: scale(1.05);
	border: solid 1px var(--color1);
	background-color: var(--color1);
}

.main_container {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100vh;
	overflow: hidden;
}
.sidebar {
	width: 12rem;
	background-color: #1d1a1f;
	align-self: start;
	height: 100vh;
	position: sticky;
	top: 0px;
	padding: 2rem;
}

.all_charts {
	padding: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
	grid-template-rows: repeat(5, minmax(800px, auto));
	grid-auto-rows: minmax(800px, auto);
	gap: 1rem;

	overflow: scroll;
}

.year-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.year-buttons button,
.chart_title,
.page_title,
.axis-text {
	font-family: 'Courier New', Courier, monospace;
}

.chart_title,
.page_title,
.axis-text {
	font-family: 'Courier New', Courier, monospace;
	color: var(--color3);
	fill: var(--color3);
}
.bottom text {
	font-size: 0.8rem;
	font-weight: 800;
}

.chart_title {
	font-size: 1.2rem;
}
.page_title {
	font-size: 2rem;
	font-weight: 400;
}

.axis-text {
	font-size: 1rem;
}

.axis-line {
	stroke: var(--color3);
	stroke-width: 2px;
}

.tick line {
	stroke: var(--color3);
}
